web_servis_php/profesori.wsdl

<?xml version="1.0"?>
<definitions name="ProfesoriList" targetNamespace="urn:ProfesoriList" xmlns:tns="urn:ProfesoriList"  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Profesori">
      <xsd:element name="getDepartamentID" type="xsd:string" />

    <xsd:complexType name='return'>
      <xsd:complexContent>
      <xsd:restriction base='soapenc:Array'>
        <xsd:attribute wsdl:arrayType='Profesori[]' ref='soapenc:arrayType' />
      </xsd:restriction>
    </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name='Profesori'>
      <xsd:all>
            <xsd:element
              name='Name'
              type='xsd:string'/>
            <xsd:element
              name='Name'
              type='xsd:string'/>
            <xsd:element
              name='Type'
              type='xsd:string'/>
            <xsd:element
              name='Name'
              type='xsd:string'/>
      </xsd:all>
    </xsd:complexType>
	</xsd:schema>
  </types>

  <message name="listProfesori">
    <part name="departamentID" type="tns:getDepartamentID" />
  </message>

  <message name="listProfesoriResponse">
    <part name="return" type="tns:return" />
  </message>

  <portType name="ProfesoriPort">
    <operation name="listProfesori">
	  <input message="tns:listProfesori" />
	  <output message="tns:listProfesoriResponse" />
	</operation>
  </portType>

  <binding name="ProfesoriBinding" type="tns:ProfesoriPort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
	  <operation name="listProfesori">
	    <soap:operation soapAction="urn:ProfesoriAction" />
		<input>
		  <soap:body use="encoded" namespace="urn:Profesori" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
		</input>
		<output>
		  <soap:body use="encoded" namespace="urn:Profesori" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
		</output>
	  </operation>
  </binding>

  <service name="ProfesoriService">
    <port name="ProfesoriPort" binding="tns:ProfesoriBinding">
	  <soap:address location="http://localhost:81/web_servis_php/server.php" />
	</port>
  </service>

</definitions>
